/* icons yeeeeee */
@import "https://www.nerdfonts.com/assets/css/webfont.css";

body {
     background-color: #11111b;
     font-family: 'Source Code Pro', monospace;
     margin: 0;
     padding: 0;
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
     overflow: hidden;
     user-select: none;
}

.notes {
     color: #cdd6f4ab;
     text-shadow: 1px 1px 10px #11111b;
}

.background {
     position: absolute;
     /* background-image: url(https://picsum.photos/2560/1440); */
     background-image: url(city3.jpg);
     background-position: center center;
     background-repeat: no-repeat;
     background-size: cover;
     width: 105%;
     height: 105%;
     transition: all 0.1s;
     user-select: none;
     -webkit-user-drag: none;
     filter: brightness(0.5);
}

.container {
     text-align: center;
     background-color: #151e2d;
     backdrop-filter: blur(1rem);
     padding: 2rem;
     border-radius: 1.5rem;
     padding-bottom: 0.5rem;
     transition: all 0.1s;
     box-shadow: 0px 5px 20px #000000;
}

.profile {
     margin-bottom: 5px;
     transition: all 0.1s;
}

.logo_img {
     border-radius: 2rem;
     margin-bottom: 0.5rem;
     user-select: none;
     -webkit-user-drag: none;
     box-shadow: 0px 5px 20px #181825af;
     cursor: grab;
}

.profile h2 {
     margin: 10px;
     font-size: 27px;
     color: #b4befe;
     letter-spacing: 1px;
     text-shadow: 1px 1px 10px #11111b;
}

.buttons {
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
     padding: 10px 0;
     position: relative;
}

.buttons a {
     position: relative;
     box-shadow: 0px 5px 20px #181825af;
}

.buttons li {
     margin: 10px;
     list-style: none;
}

.buttons a,
.buttons button {
     display: inline-block;
     padding: 10px 25px;
     border: none;
     border-radius: 2rem;
     color: #cdd6f4;
     text-decoration: none;
     transition: 0.3s;
     font-weight: 550;
}

.buttons a:hover,
.buttons button:hover {
     filter: brightness(1.08);
     transition: 0.3s;
     padding: 10px 35px;
}

.buttons a span.tooltip {
     position: absolute;
     bottom: 125%;
     left: 50%;
     transform: translateX(-50%);
     background-color: #45475ada;
     color: #cdd6f4;
     padding: 0.1rem;
     padding-left: 0.2rem;
     padding-right: 0.2rem;
     border-radius: 1rem;
     opacity: 0;
     visibility: hidden;
     transition: opacity 0.3s, visibility 0.3s, padding 0.3s;
     pointer-events: none;
     font-weight: 350;
     white-space: nowrap;
}

.buttons a:hover span.tooltip {
     opacity: 1;
     visibility: visible;
     padding: 0.3rem;
     padding-left: 0.7rem;
     padding-right: 0.7rem;
}

.buttons li:nth-child(1) a {
     background-color: #313244;
}

.buttons li:nth-child(2) a {
     background-color: #313244;
}

.buttons li:nth-child(3) a {
     background-color: #313244;
}

.buttons li:nth-child(4) a {
     background-color: #313244;
}

.buttons li:nth-child(5) a {
     background-color: #313244;
}

/* fonts go brrrr */
@font-face {
     font-family: 'Product Sans Regular';
     font-style: normal;
     font-weight: normal;
     src: local('Product Sans Regular'), url('fonts/ProductSans-Regular.woff') format('woff');
}

@font-face {
     font-family: 'Product Sans Italic';
     font-style: normal;
     font-weight: normal;
     src: local('Product Sans Italic'), url('fonts/ProductSans-Italic.woff') format('woff');
}

@font-face {
     font-family: 'Product Sans Thin Regular';
     font-style: normal;
     font-weight: normal;
     src: local('Product Sans Thin Regular'), url('fonts/ProductSans-Thin.woff') format('woff');
}

@font-face {
     font-family: 'Product Sans Light Regular';
     font-style: normal;
     font-weight: normal;
     src: local('Product Sans Light Regular'), url('fonts/ProductSans-Light.woff') format('woff');
}

@font-face {
     font-family: 'Product Sans Medium Regular';
     font-style: normal;
     font-weight: normal;
     src: local('Product Sans Medium Regular'), url('fonts/ProductSans-Medium.woff') format('woff');
}

@font-face {
     font-family: 'Product Sans Black Regular';
     font-style: normal;
     font-weight: normal;
     src: local('Product Sans Black Regular'), url('fonts/ProductSans-Black.woff') format('woff');
}

@font-face {
     font-family: 'Product Sans Thin Italic';
     font-style: normal;
     font-weight: normal;
     src: local('Product Sans Thin Italic'), url('fonts/ProductSans-ThinItalic.woff') format('woff');
}

@font-face {
     font-family: 'Product Sans Light Italic';
     font-style: normal;
     font-weight: normal;
     src: local('Product Sans Light Italic'), url('fonts/ProductSans-LightItalic.woff') format('woff');
}

@font-face {
     font-family: 'Product Sans Medium Italic';
     font-style: normal;
     font-weight: normal;
     src: local('Product Sans Medium Italic'), url('fonts/ProductSans-MediumItalic.woff') format('woff');
}

@font-face {
     font-family: 'Product Sans Bold';
     font-style: normal;
     font-weight: normal;
     src: local('Product Sans Bold'), url('fonts/ProductSans-Bold.woff') format('woff');
}

@font-face {
     font-family: 'Product Sans Bold Italic';
     font-style: normal;
     font-weight: normal;
     src: local('Product Sans Bold Italic'), url('fonts/ProductSans-BoldItalic.woff') format('woff');
}

@font-face {
     font-family: 'Product Sans Black Italic';
     font-style: normal;
     font-weight: normal;
     src: local('Product Sans Black Italic'), url('fonts/ProductSans-BlackItalic.woff') format('woff');
}
